{% extends "fitnessWeb/layout.html" %}
{%load static%}

{% block body %}
    <h3>My Classes</h3>
    <center>
    <ul id="myclasses_list">
    {%for class in user_classes%}
        <li class="class_li">
            <div class="class_circle">
                <div class="front">
                </br>
                    <center><p class="class_title">{{class.gym_class.title}}</p></center>
                    <center><p class="class_weekday">{{class.gym_class.weekday}}</p></center>
                    <center><p class="class_time">{{class.gym_class.time}}</p></center>
                </div>
                <div class="back">
                    <span class="popuptext" id="myPopup{{forloop.counter}}" onclick="notShow({{forloop.counter}})">{{class.gym_class.description}}</span>
                </br>
                    <center><p>Room: {{class.gym_class.room}}</p></center>
                    <center><p>Instructor: {{class.gym_class.instructor}}</p></center>
                    <center class="popup">
                        <a class="class_info" onclick="myFunction({{forloop.counter}})" style="text-decoration: underline">
                        More Details
                        </a>
                    </center>
                </div>
            </div>
        </li>
    {%endfor%}
    </ul>
    </center>
    <h3>Available Classes</h3>
    {%for class in available_classes%}
    <details>
        <summary>
            &#9656;{{class.title}}
            <form action = "{% url 'sign_up' class.id %}" method = "POST" class="signup_form">
                {% csrf_token %}
                <input class="class_signup" type = "submit" value="Sign Up">
            </form>
        </summary>
        <p>
            {{class.description}}
        </br>
            Meets {{class.weekday}}s at {{class.time}} with {{class.instructor}} in room: {{class.room}}
        </p>
    </details>
    {%endfor%}
    <script>
        // When the user clicks on div, open the popup
        function myFunction(popupID) {
            var popup = document.getElementById("myPopup"+popupID);
            popup.classList.toggle("show");
        }

        function notShow(popupID){
            var popup = document.getElementById("myPopup"+popupID);
            popup.classList.toggle("show");
        }
    </script>
{%endblock%}