{% extends "fitnessWeb/layout.html" %}
{%load static%}

{% block body %}
    <div>
        My Email: <div> {{request.user.email}}</div>
    </div>
    <div>
        My Photo: <div><img class="full_pic" src="{{ request.user.pic.url }}" alt="Profile Pic"></div>
    </div>
    <div>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <input class="btn btn-primary" type="submit" name="Update Information">
        </form>
    </div>
{% endblock %}